#landmark {
    outline: none;
}

#select {
    background: white;
    cursor: pointer;
    width: auto;
    position: relative;

}

#partner {
    display : flex;
    justify-content: space-between;
}

#details {
    display: flex;
    /* flex-wrap: wrap; */
}

/* #search {
    color : white;
} */

#search:hover {
    color :#ff5a5f;
}

#testimonial {
    display : flex;
    justify-content: space-between;
}

#card {
    margin-right: 2rem;
}

@media (max-width : 700px) {
    #details {
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    #featuredProp {
        margin-bottom: 1rem;
    }
} 
