
#searchBar {
  height : 3rem;
  color: black;
}

#reservation-date, #reservation-time {
  background: white;
}

#bottom {
  border-bottom: 1rem;
}

#container {
  box-sizing: border-box;
  width : 100%;
  height : 100vh;
}

#heading {
  margin : 2rem 0 0 33rem;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #274abb;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #114a91;
}

#container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin : 0
}

#form {
  width : 80%;
  margin : auto;
  margin-top: 4rem;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#submit {
  flex : 1;
  align-items: center;
  text-align: center;
  width : 100%;
  margin-left: 30rem;
  outline : none;
}

#formControl {
  width: 35%;
  margin-bottom: 30px !important;
}

#firstSelect {
  cursor: pointer;
}

.blog-form {
  outline : none;
}

.post-status {
  cursor : pointer;
  outline : none;
}

#formImage {
  width : 50%;
  /* height : 20rem; */
}

#price {
  outline : none;
}

.inner-pages .property-form-group label {
  display : grid;
}

.ck-label, .ck-voice-label {
  display : none;
  /* visibility: hidden; */

}

#ck-editor__label_e17952eb8ea9a1350402c35c88cc06711 {
  display : none;
  /* visibility: hidden; */
}

#property-price {
  width: 100%;
  height: 3rem;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#property-Type {
  height : 6.3rem;
}

#popular {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

#navigation {
  display:flex;
  justify-content: space-around;
  margin-left: 8rem;
}

#contact-img {
  background: linear-gradient(rgba(32, 51, 100, 0.8), rgba(32, 51, 100, 0.8)), url(https://static.dezeen.com/uploads/2018/11/building_better_commision_sam_jacob_column_hero-852x479.jpg) no-repeat center center;
}

#dropdownlang {
  outline: none;
}

#profile {
  width : 18px;
  height : 16px;
  /* margin-left: -10rem; */
}

#loader {
  margin-left: 10rem;
}

#similar-properties {
  display : flex;
}

#api-detail {
  margin-left : 1rem
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
